@page "/password"
<span>Passwords</span>
@foreach (var password in this.Passwords)
{
    <div class="row">
        <div class="col">
            <span>@password.ID</span>
        </div>
        <div class="col">
            <span>@password.Name</span>
        </div>
    </div>
}